@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin .Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  gap: 10px;
  background-color: #7fa9cf;
  width: 400px;
  height: 450px;
  border-radius: 8px;
}
.containerLogin .Login h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 14px;
}
.containerLogin .Login p {
  color: white;
  display: flex;
  justify-content: flex-end;
}
.containerLogin .Login a {
  color: #435D75;
  text-decoration: underline;
}
.containerLogin .Login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.containerLogin .Login form label {
  color: white;
  font-size: 1.5rem;
}
.containerLogin .Login form input {
  padding: 0px 50px 10px 5px;
  background-color: #7fa9cf;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
}
.containerLogin .Login form input::placeholder {
  color: rgba(255, 255, 255, 0.452);
}
.containerLogin .Login form button {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: #4072A0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.containerLogin .Login form button:hover {
  background-color: #435D75;
}
.containerLogin .Login form .checkLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 4px;
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  padding: 10px 30px;
  background: rgb(196, 196, 196);
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}
.nav-bar .logo {
  background-color: rgb(88, 88, 88);
  height: 20px;
  width: 100px;
}
.nav-bar button {
  border: none;
}
.nav-bar ul {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 123rem;
}
.nav-bar ul a {
  border-bottom: 4px transparent solid;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  border: 4px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.nav-bar ul a:hover {
  border: 2px;
  color: rgb(0, 0, 0);
  border-bottom: 4px rgba(0, 0, 0, 0.055) solid;
  border-radius: 3px;
}

.nav-bar-laterals {
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 2px transparent solid;
  justify-content: center;
  color: rgb(228, 176, 81);
  transition: all 0.2s ease-in-out;
}
.nav-bar-laterals p {
  font-size: 12px;
}
.nav-bar-laterals:hover {
  color: rgb(164, 126, 56);
  border: 2px;
  transition-duration: 0.2s;
  border: 2px rgba(255, 255, 255, 0.218) solid;
  border-radius: 5px;
}

/*# sourceMappingURL=App.css.map */
