@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.containerLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin .Login {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  gap: 8px;
  background-color: #7fa9cf;
  border-radius: 8px;
  padding: 60px;
}
.containerLogin .Login h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  user-select: none;
}
.containerLogin .Login h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 14px;
}
.containerLogin .Login p {
  color: white;
  display: flex;
  justify-content: center;
  user-select: none;
  gap: 5px;
}
.containerLogin .Login a {
  color: #435d75;
  text-decoration: underline;
}
.containerLogin .Login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.containerLogin .Login form .recall-forget {
  display: flex;
  width: 100%;
}
.containerLogin .Login form .recall-forget input {
  width: 10px;
  height: 10px;
}
.containerLogin .Login form .recall-forget label {
  width: 100%;
}
.containerLogin .Login form label {
  color: white;
  font-size: 1.5rem;
  user-select: none;
}
.containerLogin .Login form input {
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 10px;
  width: 100%;
  background-color: #7fa9cf;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
}
.containerLogin .Login form input::placeholder {
  color: rgba(255, 255, 255, 0.452);
}
.containerLogin .Login form button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4072a0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.containerLogin .Login form button:hover {
  background-color: #435d75;
  transition-duration: 0.2s;
}
.containerLogin .Login form .checkLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 4px;
}

.nav-bar {
  width: 100%;
  top: 10px;
  position: fixed;
  align-items: center;
  z-index: 6;
}

.nav-bar .nav_container {
  height: 80px;
  background: #7fa9cf;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  transition-duration: 0.5s;
}
.nav-bar .nav_container .logo {
  background-color: rgb(88, 88, 88);
  height: 20px;
  width: 100px;
}
.nav-bar .nav_container button {
  border: none;
  width: 200px;
  background: none;
}
.nav-bar .nav_container ul {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 123rem;
}
.nav-bar .nav_container ul a {
  margin: 5px;
  border-bottom: 4px transparent solid;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  border-radius: 5px;
  font-weight: 100;
  font-style: normal;
  border: 4px;
  letter-spacing: 1px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.nav-bar .nav_container ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -10px 0px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out 0s;
}
.nav-bar .nav_container ul a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-bar-laterals {
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 2px transparent solid;
  justify-content: center;
  color: rgb(228, 176, 81);
  transition: all 0.2s ease-in-out;
}
.nav-bar-laterals p {
  font-size: 12px;
}
.nav-bar-laterals:hover {
  color: rgb(164, 126, 56);
  border: 2px;
  transition-duration: 0.2s;
  border: 2px rgba(255, 255, 255, 0.218) solid;
  border-radius: 5px;
}

.box {
  cursor: pointer;
  width: 200px;
  justify-content: end;
}

.nav_user_profile {
  display: flex;
  align-items: center;
}
.nav_user_profile .user_profile_picture {
  border-radius: 50%;
  width: 45px;
  border: 2px solid rgb(44, 44, 44);
  background-color: white;
  height: 45px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_user_profile .user_profile_name {
  width: 80px;
  height: 30px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.nav_user_profile .user_profile_name p {
  background-color: rgb(235, 235, 235);
  border-radius: 0 10px 10px 0;
  transform: translate(-5px, 0);
  padding: 8px 8px 8px 8px;
  color: rgb(94, 94, 94);
  font-size: 8px;
}

.home_container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.mainProjects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 150px;
  padding: 20px;
  gap: 60px;
}

.created-project-name {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  background-color: #7fa9cf;
  padding: 20px;
  border-radius: 8px;
  color: white;
  -webkit-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
}

.background_image {
  width: 100%;
  /* Define a largura da imagem igual à largura da tela */
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  object-fit: cover;
  top: 0;
  z-index: -2;
  transition: background-size 0.3s;
}

.text_project_explanation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projectContainer {
  cursor: pointer;
}

.tasksComponents {
  border-radius: 5px;
  gap: 40px;
  position: relative;
  height: fit-content;
  min-height: 110px;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  font-size: 1rem;
  color: white;
  padding: 15px;
  background-color: #7fa9cf;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tasksComponents h2 {
  font-size: 2rem;
  font-weight: 700;
}
.tasksComponents .btnFazer {
  width: 100%;
  background-color: #7fa9cf;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin-top: 10px;
  color: white;
}
.tasksComponents .btnTask {
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  background-color: #435d75;
  border: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.tasksComponents textarea {
  width: 100%;
}
.tasksComponents .tasks {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
  color: white;
  padding: 0px;
  background-color: none;
}
.tasksComponents .tasks .finished {
  text-decoration: line-through;
}
.tasksComponents .task {
  padding: 10px;
  background-color: #4072a0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.tasks_component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks_component textarea,
.tasks_component input {
  outline: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.567);
  background-color: rgba(255, 255, 255, 0.768627451);
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.tasks_component ::placeholder {
  color: rgba(0, 0, 0, 0.567);
}
.tasks_component textarea {
  min-width: 285px;
  min-height: 80px;
  max-height: 80px;
}

.toDoContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  gap: 20px;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.projeto input {
  width: 250px;
  height: 35px;
  border: none;
  background-color: rgb(246, 246, 246);
  padding: 5px 8px;
  border-radius: 5px;
}
.projeto button {
  height: 35px;
  border: none;
  background-color: #7fa9cf;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.projectComponent {
  width: 400px;
  padding: 20px;
}

.projectName {
  font-size: 1.8rem;
  padding: 5px 0px;
}

.descStartDate, .descEndDate {
  font-size: 1.5rem;
}

.btnTarefa {
  margin: auto;
}

.tasks-mts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  width: 22%;
  font-size: 1.5rem;
}
.tasks-mts .taskName {
  font-size: 2rem;
  padding: 5px;
}
.tasks-mts .descTask {
  padding: 0px;
  max-width: 260px;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.671);
}

.descProject {
  color: rgba(255, 255, 255, 0.644);
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.taskObjective {
  background-color: red;
  width: 200px;
  height: 70px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.containterObjective {
  padding: 10px 0;
}
.containterObjective .titleObj {
  font-size: 2rem;
}
.containterObjective .descObj {
  padding-bottom: 30px;
  font-size: 1.8rem;
}

.modal-content h2 {
  font-size: 2.5rem;
}

.completed {
  text-decoration: line-through;
}

.btnCompleted {
  padding: 10px 0;
}

.btnNovoObj {
  margin: 10px;
}

.foundProject {
  padding: 20px;
}

.white_space {
  height: 95%;
  border-radius: 5px;
  top: 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 1080px;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 15px);
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
}

.pageContainer {
  display: flex;
  flex-direction: column-reverse;
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 5rem 5rem 5rem;
}

.general_footer {
  width: 100%;
  justify-content: end;
  justify-self: self-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.general_footer .footer_colaborators {
  gap: 10px;
  display: flex;
}
.general_footer .footer_title {
  display: flex;
}
.general_footer .footer_logos {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.projeto .aaaa {
  margin: 50px;
  z-index: 2;
  background-color: red;
  color: wheat;
}
.projeto .aaaa select {
  color: wheat;
}

.spaceProject {
  gap: 10px;
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 30vh;
  max-height: 70vh;
  border-radius: 12px;
  -webkit-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-height: 100px;
  max-height: 400px;
  width: 350px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3e76c6;
  color: #fff;
  transition: background-color 0.3s;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.btnProject {
  -webkit-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 9px 39px -17px rgba(0, 0, 0, 0.69);
  height: 60px;
  width: 170px;
  color: white;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  font-size: 2rem;
  border: none;
  background-color: #2b6195;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btnProject:hover {
  -webkit-box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 0.75);
}
.btnProject span {
  font-size: 3rem;
}

/*# sourceMappingURL=App.css.map */
