@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin .Login {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
  gap: 8px;
  background-color: #7fa9cf;
  width: 350px;
  padding: 40px 0px;
  border-radius: 8px;
}
.containerLogin .Login h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  user-select: none;
}
.containerLogin .Login h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 14px;
}
.containerLogin .Login p {
  color: white;
  display: flex;
  justify-content: center;
  user-select: none;
  gap: 5px;
}
.containerLogin .Login a {
  color: #435D75;
  text-decoration: underline;
}
.containerLogin .Login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.containerLogin .Login form label {
  color: white;
  font-size: 1.5rem;
  user-select: none;
}
.containerLogin .Login form input {
  padding: 0px 50px 10px 5px;
  background-color: #7fa9cf;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
}
.containerLogin .Login form input::placeholder {
  color: rgba(255, 255, 255, 0.452);
}
.containerLogin .Login form button {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: #4072A0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.containerLogin .Login form button:hover {
  background-color: #435D75;
}
.containerLogin .Login form .checkLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 4px;
}

.nav-bar {
  width: 100%;
  top: 15px;
  position: fixed;
  align-items: center;
  z-index: 2;
}

.nav-bar .nav_container {
  height: 80px;
  background: #7fa9cf;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5%;
  transition-duration: 0.5s;
}
.nav-bar .nav_container .logo {
  background-color: rgb(88, 88, 88);
  height: 20px;
  width: 100px;
}
.nav-bar .nav_container button {
  border: none;
  width: 200px;
  background: none;
}
.nav-bar .nav_container ul {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 123rem;
}
.nav-bar .nav_container ul a {
  margin: 5px;
  border-bottom: 4px transparent solid;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  border-radius: 5px;
  font-weight: 100;
  font-style: normal;
  border: 4px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.nav-bar .nav_container ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -10px 0px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out 0s;
}
.nav-bar .nav_container ul a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-bar-laterals {
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 2px transparent solid;
  justify-content: center;
  color: rgb(228, 176, 81);
  transition: all 0.2s ease-in-out;
}
.nav-bar-laterals p {
  font-size: 12px;
}
.nav-bar-laterals:hover {
  color: rgb(164, 126, 56);
  border: 2px;
  transition-duration: 0.2s;
  border: 2px rgba(255, 255, 255, 0.218) solid;
  border-radius: 5px;
}

.box {
  cursor: pointer;
  width: 200px;
  justify-content: end;
}

.toDoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  width: 100%;
  max-width: 1080px;
  gap: 20px;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container {
  padding-top: 80px;
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.home_container .section_project {
  padding: 50px;
}

.background_image {
  width: 100%;
  /* Define a largura da imagem igual à largura da tela */
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  object-fit: cover;
  top: 0;
  z-index: -2;
  transition: background-size 0.3s;
}

.tasksComponents {
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  font-size: 1rem;
  color: white;
  padding: 15px;
  background-color: #7fa9cf;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tasksComponents h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.tasksComponents .btnTask {
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  background-color: #435D75;
  border: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.tasksComponents .tasks {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 200px;
  font-size: 1.5rem;
  color: white;
  padding: 0px;
  background-color: none;
}
.tasksComponents .tasks .taskName {
  font-size: 2rem;
}
.tasksComponents .tasks .descTask {
  padding: 0px;
  color: rgba(255, 255, 255, 0.671);
}
.tasksComponents .task {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.tasks_component {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks_component textarea, .tasks_component input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.white_space {
  height: 100%;
  background-color: white;
  position: fixed;
  width: 1080px;
  bottom: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 15px);
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
}

.pageContainer {
  display: flex;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=App.css.map */
