.home_container {
    
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;


  
}

.mainProjects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 150px;
    padding: 20px;
    gap: 60px;

}

.spaceProject {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.created-project-name {
    font-size: 20px;
    background-color: $blue3;
    padding: 20px;
    border-radius: 8px ;
    color: white;
}

.background_image {
    width: 100%;
    /* Define a largura da imagem igual à largura da tela */
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
object-fit: cover;
    top: 0;
    z-index: -2;
    transition: background-size 0.3s;
}
.text_project_explanation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}