@import "Var.scss";

.containerLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.67);
    gap: 8px;
    background-color: $blue3;
    border-radius: 8px;
    padding: 60px;
    h1 {
      color: white;
      text-align: center;
      font-size: 3rem;
      user-select: none;
    }
    h2 {
      color: white;
      text-align: center;
      font-size: 2rem;
      padding-bottom: 14px;
    }

    p {
      color: white;
      display: flex;
      justify-content: center;
      user-select: none;
      gap: 5px;
    }

    a {
      color: $blue4;
      text-decoration: underline;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;

      gap: 15px;
      .recall-forget {
        display: flex;
        input {
          width: 10px;
          height: 10px;
        }
        label {
          width: 100%;
        }
        width: 100%;
      }
      label {
        color: white;
        font-size: 1.5rem;
        user-select: none;
      }

      input {
        border-radius: $border-radius;
        padding: 10px 5px;
        font-size: 10px;
        width: 100%;
        background-color: $blue3;
        color: white;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        outline: none;

        &::placeholder {
          color: rgba(255, 255, 255, 0.452);
        }
      }

      button {
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: none;
        background-color: $color-btn;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $blue4;
          transition-duration: 0.2s;
        }
      }

      .checkLabel {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.2rem;
        gap: 4px;
      }
    }
  }
}
