@import './Var.scss';

.tasksComponents {
    border-radius: $border-radius;
    position: relative;
    height: fit-content;
    min-height:130px;
    -webkit-box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
    @mixin customs ($font-size, $color, $padding, $background-color ){
        font-size: $font-size;
        color: $color;
        padding: $padding;
        background-color: $background-color;
     }
      
     @include customs(1rem, white, 15px, $blue3);
    display: flex;
    flex-direction: column;
    gap: 15px;
   
   h2 {
    font-size: 2rem;
    font-weight: 700;
    }

    .btnTask {
    border-radius: $border-radius;

        @include customs(1.5rem, white, 10px, $blue4);
        border: none;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
    }
   

   .tasks {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: 5px;
        
        @include customs(1.5rem, white, 0px, none);
        .taskName {
            font-size: 1.7rem;
        }

        .descTask {
            padding: 0px;
        font-size: 1.3rem;
            max-width:260px ;
            word-wrap: break-word;
            color: rgba(255, 255, 255, 0.671);

        }
    
   }
   .task {
    padding: 10px;
    background-color: $color-btn;
    border-radius: $border-radius;

    
  }
}

.tasks_component {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea, input{
        outline: none;
        width: 100%;
        color: rgba(0, 0, 0, 0.567);
     background-color: $blue1;
        border: none;
        border-radius: $border-radius;
        padding: 10px;

    }

    ::placeholder {
        color: rgba(0, 0, 0, 0.567);
    }
    textarea{
        max-width: 285px;
        min-width: 285px;
        min-height: 80px;
        max-height: 80px;
    }
    
}

.toDoContainer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 20px;
   
}