@import "./Var.scss";

.tasksComponents {
  border-radius: $border-radius;
  position: relative;
  height: fit-content;
  min-height: 110px;
  -webkit-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.41);
  @mixin customs($font-size, $color, $padding, $background-color) {
    font-size: $font-size;
    color: $color;
    padding: $padding;
    background-color: $background-color;
  }

  @include customs(1rem, white, 15px, $blue3);
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .btnTask {
    border-radius: $border-radius;

    @include customs(1.5rem, white, 10px, $blue4);
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
  textarea {
    width: 100%;
  }

  .tasks {
    .finished {
      text-decoration: line-through;
    }

    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include customs(1.5rem, white, 0px, none);
    .taskName {
      font-size: 1.7rem;
    }

    .descTask {
      padding: 0px;
      font-size: 1.3rem;
      max-width: 260px;
      word-wrap: break-word;
      color: rgba(255, 255, 255, 0.671);
    }
  }
  .task {
    padding: 10px;
    background-color: $color-btn;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .finished {
      color: rgb(13, 33, 68);
    }
    .btnChange {
      background-color: none;
      button {
        border: none;
        background-color: $blue3;
        border-radius: $border-radius 20px 20px $border-radius;
        padding: 3px 4px;
        height: 100%;
        color: white;
        border: 2px solid transparent;
        font-size: 10px;
      }
      button:hover {
        border: 2px solid rgb(36, 55, 87);
        transition-duration: 0.2s;
        background-color: $blue4;
      }
    }
    .task-information {
      display: flex;
      flex-direction: column;
    }
  }
}

.tasks_component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  textarea,
  input {
    outline: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.567);
    background-color: $blue1;
    border: none;
    border-radius: $border-radius;
    padding: 10px;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.567);
  }
  textarea {
    max-width: 285px;
    min-width: 285px;
    min-height: 80px;
    max-height: 80px;
  }
}

.toDoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  width: 100%;
  max-width: 1080px;
  gap: 20px;
}
.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 0;
}
.projeto {
  input {
    width: 250px;
    height: 35px;
    border: none;
    background-color: rgb(246, 246, 246);
    padding: 5px 8px;
    border-radius: $border-radius;
  }
  button {
    height: 35px;
    border: none;
    background-color: $blue3;
    color: white;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
.modal {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.created-project-name {
  font-size: 30px;
  background-color: $blue3;
  padding: 10px;
  border-radius: $border-radius;
  color: white;
  cursor: pointer;
}

.created-project-name:hover {
  background-color: $blue3-darken;
  transition-duration: 0.3s;
  color: rgb(197, 197, 197);
}
