.toDoContainer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 20px;
   
}
.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasksComponents {
    
    -webkit-box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
box-shadow: 0px 9px 45px -14px rgba(0,0,0,0.41);
    @mixin customs ($font-size, $color, $border-radius, $padding, $background-color ){
        font-size: $font-size;
        color: $color;
        border-radius: $border-radius;
        padding: $padding;
        background-color: $background-color;
     }
      
     @include customs(1rem, white, 12px, 15px, $blue3);
    display: flex;
    flex-direction: column;
    gap: 15px;
   
   h2 {
    font-size: 2.5rem;
    font-weight: 700;
    }

    .btnTask {
        @include customs(1.5rem, white, 6px, 10px, $blue4);
        border: none;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
    }
   

   .tasks {
        max-height: 200px;
   
        @include customs(1.5rem, white, 6px, 15px, $blue4);
        .taskName {
            font-size: 2rem;
        }

        .descTask {
            padding: 0px;
            color: rgba(255, 255, 255, 0.671);

        }
    
   }
   .task {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
}

