.toDoContainer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 20px;
   
}
.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


